:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a262;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', Arial, sans-serif;
    background: #eef3f5;
    color: #222;
}

/* HEADER-SECTION*/
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background: #0c3547;
    width: 80%;

}

header img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: 2px solid #5DCAA5;
    object-fit: cover;
    position: relative;
    left: 10%;
}

/* NAV */

nav {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
    left: 30%;
}

nav ul {
    width: 840px;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: auto;
    padding: 0;
    list-style: none;

}

nav a {
    display: block;
    padding: 10px 24px;
    color: #fff;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

nav a:hover {
    background: rgb(0, 0, 0);
}

/* MAIN WRAPPER*/
main {
    width: 840px;
    margin: auto;
    padding-bottom: 40px;
}

/* FOOTER */

footer {
    background: #0c3547;
    width: 80%;
}

footer p {
    font-size: 12px;
    color: #9fe1cb;
}

.footer-inner {
    width: 840px;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.social-media {
    display: flex;
    gap: 10px;
    position: relative;
    top: 10px;
    left: 5rem;
}

.social-media a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}