:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a262;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: #ddd;
}

header img {
    width: 80px;
    margin-left: 20px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia ul {
    display: flex;
    gap: 20px;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.socialmedia {
    grid-column: 2;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px 30px;
    margin: 0;
    font-size: 2.2rem;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text - mak sure there is enough contract with the background-color  */
}

.hero article img {
    float: none;
    width: 125px;
    margin-left: 15px;
    border-radius: 10px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    padding: 0px;
    display: flex;
    flex-direction: wrap;
    align-items: center;
    font-weight: bold;
    opacity: 0.9;
}

.hero article h2 {
    width: 100%;
    text-align: top;

    margin-bottom: 10px;
    color: var(--primary-color);
}

.history h2,
.adventure h2 {
    background-color: var(--accent2color);
    color: white;
    text-align: center;
    padding: 15px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.history-content img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.history-content p {
    width: 180px;
    margin: 0;
}

.adventure-gallery img {
    width: 80px;
}

.adventure-gallery {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    gap: 15px;
}

footer p {
    grid-column: 1;
    color: #ddd;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
    align-items: center;
    padding: 0px;
    background-color: #264653;
}