nav a {
    color: black;
    display: block;
    padding: 0px;
}

h1 {
    color: blue;
}

nav {
    background-color: bisque;
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 0 10 rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    border: 20px;
    padding: 10px;

}

aside img {
    width: 200px;
    height: auto;
    border: 20px;
    padding: 0px;
}

main img {
    width: 200px;
    height: auto;
    border: 10px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 0.2);
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

body {
    background-color: blanchedalmond;
    border-top: #333;
}