* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: blue;
}

nav {
    background-color: blue;
    padding: 10px;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    margin: 0 1rem 0 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    border: 20px;
    padding: 10px;

}

aside img {
    width: 200px;
    height: auto;
    border: 20px;
    padding: 0px;
}

main img {
    width: 120px;
    height: auto;
    border: 10px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 0.2);
    float: right;
}

p {
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 40px;
}

body {
    background-color: white;
    border-top: #333;
}

/* Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 4rem;
    background-color: #ddd;
    color: #000;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    color: #ddd;
}